.dayContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:  column;
    margin: 35;
}
.dayContainer--subheader{
    font-size: 34px;
    font-style: italic;
    text-decoration: underline;
    color: #333;
    font-weight: 100;
}
.dayContainer--imgweather{
    height: 130px;
}
